<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<form action="/restaurants" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">

        {{!-- 餐廳名稱 --}}
        <div class="mb-3">
          <label for="name" class="form-label text-secondary">
            <i class="fas fa-bookmark pr-2"></i>
            餐廳名稱
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-control" id="name" placeholder="餐廳名稱" name="name" required />
        </div>

        {{!-- 餐廳英文名稱 --}}
        <div class="mb-3">
          <label for="name_en" class="form-label text-secondary">
            <i class="fas fa-bookmark pr-2"></i>
            餐廳英文名稱
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-control" id="name_en" placeholder="English Name" name="name_en" required />
        </div>

        {{!-- 類別 --}}
        <div class="mb-3">
          <label for="category" class="form-label text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別
            <span class="text-danger">*</span>
          </label>
          <input type="radio" name="category" value="美式" required="required"> 美式
          <input type="radio" name="category" value="咖啡"> 咖啡
          <input type="radio" name="category" value="酒吧"> 酒吧
          <input type="radio" name="category" value="中東料理"> 中東料理
          <input type="radio" name="category" value="日本料理"> 日本料理
          <input type="radio" name="category" value="義式餐廳"> 義式餐廳
        </div>

        {{!-- 照片 --}}
        <div class="mb-3">
          <label for="image" class="form-label text-secondary">
            <i class="fas fa-camera pr-2"></i>
            照片
            <span class="text-danger">*</span>
          </label>
          <input type="url" class="form-control" id="image" name="image" required />
        </div>

        {{!-- 地址 --}}
        <div class="mb-3">
          <label for="location" class="form-label text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-control" id="location" placeholder="高雄市新興區新興路30號" name="location" required />
        </div>

        {{!-- 電話 --}}
        <div class="mb-3">
          <label for="phone" class="form-label text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話
            <span class="text-danger">*</span>
          </label>
          <input type="tel" class="form-control" id="phone" placeholder="01-23456789" name="phone" required />
        </div>

        {{!-- google map --}}
        <div class="mb-3">
          <label for="google_map" class="form-label text-secondary">
            <i class="fas fa-location-arrow pr-2 fa-xs"></i>
            google map
            <span class="text-danger">*</span>
          </label>
          <input type="url" class="form-control" id="google_map" placeholder="https://XXXXXXX" name="google_map"
            required />
        </div>

        {{!-- 評分 --}}
        <div class="mb-3">
          <label for="rating" class="form-label text-secondary">
            <i class="fas fa-star pr-2"></i>
            評分
            <span class="text-danger">*</span>
          </label>
          <input type="number" class="form-control" id="rating" placeholder="3.3" min="0" max="5" step="0.1"
            name="rating" required />
        </div>

        {{!-- 敘述 --}}
        <div class="mb-3">
          <label for="description" class="form-label text-secondary">
            <i class="fas fa-comment-dots "></i>
            敘述
            <span class="text-danger">*</span>
          </label>
          <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
        </div>

        {{!-- 儲存 --}}
        <div class="text-center">
          <button type="submit" class="btn btn-primary"> 儲存修改 </button>
          <button type="reset" class="btn btn-secondary">還原輸入</button>
          <a href="/">
            <button type="button" class="btn btn-secondary">
              返回首頁
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <button type="submit">Save</button>
</form>